.idea
venv
task_1/__pycache__/Set.cpython-311.pyc
task_1/звіт.aux
task_1/звіт.log
task_1/__pycache__/Set.cpython-311.pyc
task_1/звіт.out
task_1/звіт.synctex.gz
task_1/__pycache__/Set.cpython-311.pyc
/task_1/__pycache__
task_2/звіт.out
task_2/звіт.aux
task_2/звіт.log
task_2/__pycache__/RandomGraph.cpython-312.pyc
task_2/__pycache__/LinkedList.cpython-312.pyc
task_2/__pycache__/Graph.cpython-312.pyc
task_2/звіт.synctex.gz
task_2/звіт.synctex.gz
task_2/звіт.synctex.gz
task_4/__pycache__/UnionFindSetMeta.cpython-312.pyc
task_4/__pycache__/RandomGraph.cpython-312.pyc
task_4/__pycache__/Graph.cpython-312.pyc
task_4/__pycache__/LinkedList.cpython-312.pyc
task_4/__pycache__/Node.cpython-312.pyc
task_4/__pycache__/UnionFindHandler.cpython-312.pyc
task_2/bug-report.aux
task_2/bug-report.log
task_2/bug-report.out
task_2/bug-report.synctex.gz
task_2/звіт.synctex.gz
